* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin: 1em 0 0 5px;
    font-size: 1.5em;
}

form {
    margin: 1em 0 0 5px;
    width: 40%;
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;

}

form input {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;

}

form label {
    display: block;
    font-size: 20px;

}

#register {
    width: 50%;
    margin: auto;
    font-weight: bold;
}